.body {
    box-sizing: border-box;
    display: flex;
    max-width: 100vw;
    height: 100vh;
    background-color: #2e0249;
    font: 400 1.25rem "Poppins", sans-serif;
    padding: 4rem;
    gap: 10rem;
    justify-content: center;
  }
  
  .container {
    display: flex;
    gap: 10rem;
  }
  
  .header {
    font-size: 3rem;
    font-weight: 700;
    max-width: 23.4rem;
    line-height: 4rem;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }